<div class="card">
    <div class="title">累计客流统计</div>
    <div class="body">
        <echarts :option="option_flow_sum" style="width: 100%;height: 300px"></echarts>
    </div>
</div>
<br>
<div class="card">
    <div class="title">周客流统计</div>
    <div class="body">
        <echarts :option="option_week" style="width: 100%;height: 300px"></echarts>
    </div>
</div>
<br>
<div class="card">
    <div class="title">客流年龄分布表</div>
    <div class="body">
        <echarts :option="option_age" style="width: 100%;height: 300px"></echarts>
    </div>
</div>
<br>
<div class="card">
    <div class="title">常新客比例</div>
    <div class="body">
        <echarts :option="option_new" style="width: 100%;height: 300px"></echarts>
    </div>
</div>




